*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  height: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

textarea {
  resize: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --main-font: "Calibri", sans-serif;
  --shadow-color: hsla(253, 100%, 12%, 0.102);
  --shadow: 0 0 20px var(--shadow-color);
  --light-color: hsl(0, 0%, 100%);
  --dark-color: hsl(0, 0%, 0%);
  --invalid-color: hsl(0, 98%, 37%);
  --accent-color: hsl(257, 80%, 62%);
  --accent-color-focus: var(--accent-color);
  --accent-color-hover: hsl(257, 80%, 67%);
  --accent-color-active: hsl(257, 80%, 57%);
  --accent-color-disabled: hsl(257, 20%, 57%);
  --accent-border-color-disabled: hsl(257, 20%, 37%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  word-break: break-word;
  overflow-x: hidden;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.error-message {
  color: var(--invalid-color);
  margin-top: 5px;
}

.required-star {
  color: var(--invalid-color);
}

.is-invalid + .form-field-wrapper__label, .is-invalid + .form-field-wrapper__label::after, .is-invalid[type=radio] + .radio-item__box, .is-invalid[type=checkbox] + .checkbox-item__box {
  border-color: var(--invalid-color);
  transition: border-color 0.3s ease;
}

.form {
  max-width: 550px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: 15px;
  box-shadow: var(--shadow);
  border-radius: 4px;
  padding: 20px;
  align-self: start;
}
@media (min-width: 26.625em) {
  .form {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 30px 40px;
  }
}
@media (min-height: 725px) {
  .form {
    align-self: center;
  }
}
.form__title {
  font-size: 36px;
  text-align: center;
  line-height: 1.25;
  color: var(--accent-color);
  font-weight: 600;
  margin-bottom: 5px;
}
@media (min-width: 26.625em) {
  .form__title {
    grid-column: span 2;
    font-size: 42px;
    margin-bottom: 15px;
  }
}
.form__submit {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 4px;
  padding: 7px 14px;
  text-align: center;
  border: 2px solid var(--accent-color);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  outline: none;
}
@media (min-width: 26.625em) {
  .form__submit {
    margin-top: 5px;
    grid-column: span 2;
  }
}
.form__submit:focus {
  outline: 2px solid var(--accent-color-focus);
  outline-offset: 3px;
}
.form__submit:hover {
  background-color: var(--accent-color-hover);
  border-color: var(--accent-color-hover);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.form__submit:active {
  color: var(--light-color);
  background-color: var(--accent-color-active);
  border-color: var(--accent-color-active);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.form__submit:disabled {
  background-color: var(--accent-color-disabled);
  border-color: var(--accent-color-disabled);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 26.625em) {
  .form-item {
    grid-column: span 2;
  }
  .form-item--half {
    grid-column: span 1;
  }
}
.form-item__field-wrapper {
  position: relative;
  overflow: hidden;
}
.form-item__label {
  color: var(--dark-color);
}

.form-field-wrapper__field {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  border: none;
  color: var(--dark-color);
  outline: none;
}
.form-field-wrapper__field:focus + .form-field-wrapper__label > span, .form-field-wrapper__field.no-empty + .form-field-wrapper__label > span {
  color: var(--accent-color);
  transform: translateY(-80%);
  transition: transform 0.3s ease, color 0.3s ease;
}
.form-field-wrapper__field:focus + .form-field-wrapper__label::after, .form-field-wrapper__field.no-empty + .form-field-wrapper__label::after {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.form-field-wrapper__label {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--dark-color);
  pointer-events: none;
  transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.form-field-wrapper__label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 3px solid var(--accent-color);
  transform: translateX(0%);
  transition: transform 0.3s ease, border-color 0.3s ease;
}
.form-field-wrapper__label > span {
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease;
}
.form-field-wrapper__show-password {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 0;
  transform: translateY(-50%);
  background-image: url("../images/icons/password-show.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.form-field-wrapper__show-password._active {
  background-image: url("../images/icons/password-hide.svg");
}

.radio-item,
.checkbox-item {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
@media (hover: hover) {
  .radio-item,
.checkbox-item {
    padding-left: 20px;
  }
}
.radio-item__input,
.checkbox-item__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
}
.radio-item__input:checked + .radio-item__box, .radio-item__input:checked + .checkbox-item__box,
.checkbox-item__input:checked + .radio-item__box,
.checkbox-item__input:checked + .checkbox-item__box {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.radio-item__input.focus-visible:focus + .radio-item__box, .radio-item__input.focus-visible:focus + .checkbox-item__box,
.checkbox-item__input.focus-visible:focus + .radio-item__box,
.checkbox-item__input.focus-visible:focus + .checkbox-item__box {
  outline: 2px solid var(--dark-color);
  outline-offset: 2px;
}
.radio-item__input:disabled + .radio-item__box, .radio-item__input:disabled + .checkbox-item__box,
.checkbox-item__input:disabled + .radio-item__box,
.checkbox-item__input:disabled + .checkbox-item__box {
  background-color: var(--accent-color-disabled);
  border-color: var(--accent-border-color-disabled);
}
.radio-item__box,
.checkbox-item__box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 2px solid var(--accent-color);
}
@media (hover: hover) {
  .radio-item__box,
.checkbox-item__box {
    width: 20px;
    height: 20px;
  }
}
.radio-item__label,
.checkbox-item__label {
  margin-left: 5px;
}

.radio-group {
  border: none;
}
.radio-group__description {
  margin-bottom: 15px;
}
@media (min-width: 26.625em) {
  .radio-group__description {
    margin-bottom: 20px;
  }
}
.radio-group__item:not(:last-of-type) {
  margin-right: 15px;
}
.radio-group__radio:checked + .radio-group__box {
  background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='256' cy='256' r='256' fill='%237d51ec'/%3E%3C/svg%3E%0A");
  background-size: 15px;
}
@media (hover: hover) {
  .radio-group__radio:checked + .radio-group__box {
    background-size: 12px;
  }
}
.radio-group__box {
  border-radius: 50%;
}

.checkbox-group__checkbox:checked + .checkbox-group__box {
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 515.556 515.556' height='512' viewBox='0 0 515.556 515.556' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z' fill='%237d51ce'/%3E%3C/svg%3E");
  background-size: 20px;
}
@media (hover: hover) {
  .checkbox-group__checkbox:checked + .checkbox-group__box {
    background-size: 16px;
  }
}
.checkbox-group__label {
  margin-left: 10px;
}