@charset "UTF-8";

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/*
 * Latin
 */

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --primary-font: "Open Sans", sans-serif;
  --primary-color-01: 35, 76%, 58%;
  --primary-color-02: 35, 76%, 48%;
  --secondary-color-01: 190, 90%, 4%;
  --secondary-color-02: 190, 0%, 10%;
  --secondary-color-03: 0, 0%, 44%;
  --tertiary-color-01: 0, 0%, 100%;
  --tertiary-color-02: 0, 0%, 90%;
  --tertiary-color-03: 0, 0%, 44%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*:focus:not(.focus-visible) {
  /*
  * всем элементам в фокусе без класса focus-visible
  * отключаем фокус(т.е оставляем фокус только для клавиатуры)
  */
  outline: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

textarea {
  /*либо оставить отключенным либо включить по вертикали
  кастомному элементу и добавить min-height,max-height*/
  resize: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

html {
  background-color: hsl(190, 90%, 4%);
  background-color: hsl(var(--secondary-color-01));
}

body {
  text-rendering: optimizeSpeed;
  word-break: break-word;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-family: var(--primary-font);
  color: hsl(35, 76%, 58%);
  color: hsl(var(--primary-color-01));
  background-color: hsl(190, 90%, 4%);
  background-color: hsl(var(--secondary-color-01));
  overflow-x: hidden;
}

.loading {
  background: url(../images/giphy.gif) center/50px no-repeat;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1 1 auto;
}

.overflow {
  overflow-y: hidden;
}

.btn {
  cursor: pointer;
  border: none;
  display: inline-block;
  min-width: 150px;
  padding: 13px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  background-color: hsl(35, 76%, 58%);
  background-color: hsl(var(--primary-color-01));
  color: hsl(0, 0%, 100%);
  color: hsl(var(--tertiary-color-01));
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link {
  display: inline-block;
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  color: hsl(var(--tertiary-color-01));
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: hsl(35, 76%, 58%);
  background-color: hsl(var(--primary-color-01));
  bottom: 0px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.suptitle {
  font-weight: 700;
  color: hsl(0, 0%, 44%);
  color: hsl(var(--tertiary-color-03));
  font-size: 1.25rem;
  letter-spacing: -0.075em;
  line-height: 1.25;
}

.title {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  color: hsl(var(--tertiary-color-01));
  font-size: 1.875rem;
  letter-spacing: -0.0666666667em;
  line-height: 1.25;
}

.text {
  color: hsl(0, 0%, 100%);
  color: hsl(var(--tertiary-color-01));
  font-size: 1rem;
  font-weight: 400;
}

.input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid hsl(0, 0%, 44%);
  border-bottom: 1px solid hsl(var(--tertiary-color-03));
  outline: none;
  padding: 15px 15px;
  color: hsl(0, 0%, 100%);
  color: hsl(var(--tertiary-color-01));
  transition: border-bottom-color 0.3s ease;
}

.input::-moz-placeholder {
  text-align: center;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.input:-ms-input-placeholder {
  text-align: center;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.input::placeholder {
  text-align: center;
  transition: opacity 0.3s ease;
}

.input:focus {
  transition: border-bottom-color 0.3s ease;
  border-bottom-color: hsl(0, 0%, 100%);
  border-bottom-color: hsl(var(--tertiary-color-01));
}

.input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logo {
  max-width: 180px;
  width: 100%;
}

.logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.burger-menu {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 5px;
  -ms-grid-row-align: center;
  align-self: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 30;
}

.burger-menu span {
  transform: translateX(0%);
}

.burger-menu span,
.burger-menu::before,
.burger-menu::after {
  width: 25px;
  height: 3px;
  background-color: hsl(0, 0%, 100%);
  background-color: hsl(var(--tertiary-color-01));
  border-radius: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  position: absolute;
}

.burger-menu::before {
  transform: translateY(-10px);
}

.burger-menu::after {
  transform: translateY(10px);
}

.burger-menu._active span,
.burger-menu._active::before,
.burger-menu._active::after {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu._active span {
  opacity: 0;
  transform: translateX(-50%);
}

.burger-menu._active::before {
  transform: rotate(-45deg) translateY(0px);
}

.burger-menu._active::after {
  transform: rotate(45deg) translateY(0px);
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 60;
}

.preloader__item {
  width: 100%;
  height: 25%;
  background-color: hsl(35, 76%, 48%);
  background-color: hsl(var(--primary-color-02));
}

.preloader__img {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(200px + 200 * ((100vw - 320px) / 1320));
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: invert(1);
}

.about__inner {
  padding: calc(40px + 40 * ((100vw - 320px) / 1320)) 0px calc(20px + 20 * ((100vw - 320px) / 1320));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr -webkit-min-content;
  -ms-grid-rows: 1fr min-content;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  grid-gap: calc(15px + 60 * ((100vw - 320px) / 1320));
}

.about__inner--second {
  padding: calc(20px + 20 * ((100vw - 320px) / 1320)) 0px calc(20px + 20 * ((100vw - 320px) / 1320));
}

.about__img {
  position: relative;
  padding-bottom: 90%;
}

.about__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__subtitle {
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 1320));
}

.about__title {
  margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1320));
}

.about__text {
  margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1320));
}

.services__inner {
  padding: calc(20px + 20 * ((100vw - 320px) / 1320)) 0px calc(0px + 20 * ((100vw - 320px) / 1320));
}

.services__row {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-5px + -10 * ((100vw - 320px) / 1320));
  justify-content: center;
}

.services__column {
  padding: 0 calc(5px + 10 * ((100vw - 320px) / 1320));
  flex: 0 1 100%;
  margin-bottom: 20px;
}

.services-item {
  --scaleY: 0;
  padding-bottom: 90%;
  position: relative;
}

.services-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: hsla(190, 90%, 4%, 0.7);
  background-color: hsla(var(--secondary-color-01), 0.7);
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.services-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: hsl(190, 90%, 4%);
  background-color: hsl(var(--secondary-color-01));
  z-index: 15;
  transform-origin: bottom;
  transform: scaleY(var(--scaleY));
}

.services-item__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-item__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 15;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.services-item__icon {
  fill: hsl(0, 0%, 100%);
  fill: hsl(var(--tertiary-color-01));
  width: calc(40px + 50 * ((100vw - 320px) / 1320));
  height: calc(50px + 50 * ((100vw - 320px) / 1320));
  transition: fill 0.3s ease;
  pointer-events: none;
}

.services-item._active .services-item__play,
.services-item._active:before {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.contacts__inner {
  padding: calc(20px + 20 * ((100vw - 320px) / 1320)) 0px;
}

.contacts__title {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 400;
  margin-bottom: calc(15px + 45 * ((100vw - 320px) / 1320));
  text-align: center;
}

.contacts-form__inner {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  max-width: 540px;
  margin: 0 auto;
}

.contacts-form__input {
  width: 100%;
  padding: calc(10px + 5 * ((100vw - 320px) / 1320)) 40px calc(10px + 5 * ((100vw - 320px) / 1320)) calc(10px + 5 * ((100vw - 320px) / 1320));
}

.contacts-form__btn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
}

.contacts-form__icon {
  width: 32px;
  height: 27px;
  fill: hsl(35, 76%, 58%);
  fill: hsl(var(--primary-color-01));
  transition: fill 0.3s ease;
}

.hero {
  height: 100vh;
  /*
  * Почему были выбраны именно такие размеры изображений
  * для того чтобы максимально затронуть 2х и 3х девайсы(в основном
  * на телефонах), конечно можно было бы меньше вариантов фото и 
  * брейкпоинтов но тогда подзагрузка ненужных килобайтов была бы выше
  */
  background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_960/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
}

.hero__inner {
  min-height: calc(350px + 50 * ((100vw - 320px) / 1320));
  padding-top: calc(50px + 25 * ((100vw - 320px) / 1320));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-size: 2rem;
  margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1320));
}

.hero__text {
  font-size: 1.125rem;
  font-weight: 500;
  color: hsl(0, 0%, 44%);
  color: hsl(var(--tertiary-color-03));
  margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1320));
}

.hero__btn {
  align-self: flex-start;
}

.product__inner {
  padding: calc(20px + 20 * ((100vw - 320px) / 1320)) 0px calc(0px + 20 * ((100vw - 320px) / 1320));
}

.product__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__column {
  flex: 0 1 100%;
  margin-bottom: 20px;
}

.product-item {
  padding: 10px;
  background-color: hsl(190, 0%, 10%);
  background-color: hsl(var(--secondary-color-02));
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: hsl(0, 0%, 100%);
  color: hsl(var(--tertiary-color-01));
  align-items: center;
}

.product-item__suptitle {
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(0, 0%, 44%);
  color: hsl(var(--secondary-color-03));
}

.product-item__title {
  font-size: 1.5rem;
  margin-bottom: calc(7px + 7 * ((100vw - 320px) / 1320));
  font-weight: 400;
  line-height: 1.25;
}

.product-item__text {
  margin-bottom: calc(6px + 6 * ((100vw - 320px) / 1320));
  font-size: 1.125rem;
  flex-grow: 1;
}

.product-item__price {
  font-size: 0.875rem;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1320));
}

.product-item__img {
  position: relative;
  padding-bottom: 71%;
  max-width: 175px;
  width: 100%;
}

.product-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.product-item__img img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.footer__inner {
  padding: calc(20px + 20 * ((100vw - 320px) / 1320)) 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px 20px;
  gap: 10px 20px;
  align-items: center;
  justify-items: center;
}

.footer__logo img {
  filter: brightness(0.65);
}

.footer__copyright {
  text-align: center;
}

.footer-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(25px + 5 * ((100vw - 320px) / 1320)))[5];
  grid-template-columns: repeat(5, calc(25px + 5 * ((100vw - 320px) / 1320)));
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  gap: 10px;
}

.footer-social__icon {
  width: 30px;
  height: 30px;
  fill: hsl(0, 0%, 100%);
  fill: hsl(var(--tertiary-color-01));
  transition: fill 0.3s ease;
}

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  z-index: 50;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  background-color: hsla(35, 76%, 48%, 0.6);
  background-color: hsla(var(--primary-color-02), 0.6);
  transition: background-color 0.3s ease;
}

.header._active::before {
  transition: background-color 0.3s ease;
  background-color: hsla(35, 76%, 48%, 1);
  background-color: hsla(var(--primary-color-02), 1);
}

.header__inner {
  padding: calc(5px + 10 * ((100vw - 320px) / 1320)) 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 1fr -webkit-min-content;
  -ms-grid-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 1fr min-content;
  grid-template-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 1fr -webkit-min-content;
  grid-template-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 1fr min-content;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: calc(15px + 15 * ((100vw - 320px) / 1320));
  gap: calc(15px + 15 * ((100vw - 320px) / 1320));
  align-items: center;
  justify-items: end;
}

.header__logo {
  position: relative;
  z-index: 50;
  padding-bottom: 21%;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-column {
  position: relative;
  z-index: 20;
}

.header-column__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (26px)[2];
  grid-template-columns: repeat(2, 26px);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: calc(15px + 20 * ((100vw - 320px) / 1320));
  gap: calc(15px + 20 * ((100vw - 320px) / 1320));
}

.header-column__icon {
  transition: fill 0.3s ease;
  fill: hsl(0, 0%, 100%);
  fill: hsl(var(--tertiary-color-01));
  width: 26px;
  height: 26px;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: calc(60px + 40 * ((100vw - 320px) / 1320));
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: hsl(190, 90%, 4%);
  background-color: hsl(var(--secondary-color-01));
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 10;
  transition: right 0.3s ease;
}

.nav._active {
  right: 0;
  transition: right 0.3s ease;
}

.nav__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.nav__link {
  font-size: 1.625rem;
  color: hsl(0, 0%, 100%);
  color: hsl(var(--tertiary-color-01));
}

@media (min-width: 426px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 426px) and (min-resolution: 192dpi), (min-width: 426px) and (min-resolution: 2dppx) {
  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_1280/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }
}

@media (min-width: 426px) {
  .hero__title {
    font-size: 2.625rem;
  }
}

@media (min-width: 577px) {
  .suptitle {
    font-size: 1.4375rem;
    letter-spacing: -0.0652173913em;
  }

  .title {
    font-size: 2.5rem;
    letter-spacing: -0.05em;
  }

  .text {
    font-size: 1.25rem;
  }

  .about__img {
    padding-bottom: 60%;
  }

  .services__column {
    flex: 0 1 50%;
  }

  .services-item {
    padding-bottom: 150%;
  }

  .contacts__title {
    font-size: 1.875rem;
    letter-spacing: 0.04em;
  }

  .hero__title {
    font-size: 3.375rem;
  }

  .product__column {
    flex: 0 1 50%;
  }

  .product-item__title {
    font-size: 1.75rem;
  }

  .product-item__img img:hover {
    transform: scale(1.2);
  }

  .footer__inner {
    -ms-grid-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 2fr -webkit-min-content;
    -ms-grid-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 2fr min-content;
    grid-template-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 2fr -webkit-min-content;
    grid-template-columns: calc(120px + 60 * ((100vw - 320px) / 1320)) 2fr min-content;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 577px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 577px) and (min-resolution: 192dpi), (min-width: 577px) and (min-resolution: 2dppx) {
  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_1920/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }
}

@media (min-width: 769px) {
  .title {
    font-size: 3.125rem;
    letter-spacing: -0.04em;
  }

  .burger-menu {
    display: none;
  }

  .about__inner {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .about__img {
    padding-bottom: 120%;
  }

  .services__column {
    flex: 0 1 33.3333%;
  }

  .contacts__title {
    font-size: 2.1875rem;
    letter-spacing: 0.0342857143em;
  }

  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_1280/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }

  .hero__title {
    font-size: 4.125rem;
  }

  .hero__text {
    font-size: 1.3125rem;
  }

  .product__row {
    margin: 0 calc(-5px + -10 * ((100vw - 320px) / 1320));
  }

  .product__column {
    flex: 0 1 33.3333%;
    padding: 0 calc(5px + 10 * ((100vw - 320px) / 1320));
  }

  .header__inner {
    justify-items: center;
  }

  .nav {
    width: auto;
    height: auto;
    overflow-y: visible;
    background-color: transparent;
    padding-top: 0;
    position: relative;
    right: 0;
    z-index: 20;
  }

  .nav__list {
    -ms-grid-columns: (-webkit-min-content)[4];
    -ms-grid-columns: (min-content)[4];
    grid-template-columns: repeat(4, -webkit-min-content);
    grid-template-columns: repeat(4, min-content);
    grid-gap: 5px calc(5px + 15 * ((100vw - 320px) / 1320));
    gap: 5px calc(5px + 15 * ((100vw - 320px) / 1320));
  }

  .nav__link {
    display: inline-block;
    white-space: nowrap;
    padding: 4px;
    font-size: 1rem;
    position: relative;
    transition: color 0.3s ease;
  }

  .nav__link::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: hsl(35, 76%, 58%);
    background-color: hsl(var(--primary-color-01));
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .nav__link:hover::after,
  .nav__link:focus::after {
    transform: scaleX(1);
    transition: transform 0.3s ease;
  }

  .nav__link:active {
    color: hsl(35, 76%, 48%);
    color: hsl(var(--primary-color-02));
    transition: color 0.3s ease;
  }
}

@media (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 192dpi), (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_1920/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }
}

@media (min-width: 993px) {
  .btn:hover,
  .btn:focus {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: hsl(0, 0%, 100%);
    background-color: hsl(var(--tertiary-color-01));
    color: hsl(35, 76%, 58%);
    color: hsl(var(--primary-color-01));
  }

  .btn:active {
    transition: background-color 0.3s ease, color 0.3s ease;
    color: hsl(35, 76%, 48%);
    color: hsl(var(--primary-color-02));
    background-color: hsl(0, 0%, 90%);
    background-color: hsl(var(--tertiary-color-02));
  }

  .link:hover,
  .link:focus {
    color: hsl(35, 76%, 58%);
    color: hsl(var(--primary-color-01));
    transition: color 0.3s ease;
  }

  .link:hover:after,
  .link:focus:after {
    transform: scaleX(1);
    transition: transform 0.3s ease;
  }

  .link:active {
    color: hsl(35, 76%, 48%);
    color: hsl(var(--primary-color-02));
    transition: color 0.3s ease;
  }

  .services-item__play:hover .services-preview__icon,
  .services-item__play:focus .services-preview__icon {
    transition: fill 0.3s ease;
    fill: hsl(35, 76%, 58%);
    fill: hsl(var(--primary-color-01));
  }

  .services-item__play:active .services-preview__icon {
    transition: fill 0.3s ease;
    fill: hsl(35, 76%, 48%);
    fill: hsl(var(--primary-color-02));
  }

  .contacts-form__btn:hover .contacts-form__icon,
  .contacts-form__btn:focus .contacts-form__icon {
    transition: fill 0.3s ease;
    fill: hsl(0, 0%, 100%);
    fill: hsl(var(--tertiary-color-01));
  }

  .contacts-form__btn:active .contacts-form__icon {
    transition: fill 0.3s ease;
    fill: hsl(35, 76%, 48%);
    fill: hsl(var(--primary-color-02));
  }

  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_1280/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }

  .hero__title {
    font-size: 4.875rem;
  }

  .footer-social__link:hover svg,
  .footer-social__link:focus svg {
    fill: hsl(35, 76%, 58%);
    fill: hsl(var(--primary-color-01));
    transition: fill 0.3s ease;
  }

  .footer-social__link:active svg {
    fill: hsl(35, 76%, 48%);
    fill: hsl(var(--primary-color-02));
    transition: fill 0.3s ease;
  }

  .header-column__link:hover svg,
  .header-column__link:focus svg {
    transition: fill 0.3s ease;
    fill: hsl(35, 76%, 58%);
    fill: hsl(var(--primary-color-01));
  }

  .header-column__link:active {
    color: hsl(35, 76%, 48%);
    color: hsl(var(--primary-color-02));
    transition: color 0.3s ease;
  }
}

@media (min-width: 993px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 993px) and (min-resolution: 192dpi), (min-width: 993px) and (min-resolution: 2dppx) {
  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_2560/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }
}

@media (min-width: 1201px) {
  .suptitle {
    font-size: 1.625rem;
    letter-spacing: -0.0576923077em;
  }

  .title {
    font-size: 3.75rem;
    letter-spacing: -0.0333333333em;
  }

  .text {
    font-size: 1.375rem;
  }

  .contacts__title {
    font-size: 2.5rem;
    letter-spacing: 0.03em;
  }

  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_1920/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }

  .hero__title {
    font-size: 5.625rem;
  }

  .hero__text {
    font-size: 1.4375rem;
  }

  .product-item__title {
    font-size: 2.125rem;
  }
}

@media (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1201px) and (min-resolution: 192dpi), (min-width: 1201px) and (min-resolution: 2dppx) {
  .hero {
    background: url("https://res.cloudinary.com/dfm2xzqp5/image/upload/w_3840/v1642077685/Coffee%20House/hero-bg_x0039r.webp") 80% 0/cover no-repeat;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  .preloader {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-height: 426px) {
  .hero__inner {
    justify-content: center;
  }
}